/* Set a background image by replacing the URL below */
body {
  background: url('https://www.tripsavvy.com/thmb/4Swfscl2UAWR1B_8WyE_LH14pKA=/2120x1414/filters:fill(auto,1)/GettyImages-938174878-534efd6cc28e45e78fae6a841c1e0aaf.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.ontop {
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 15%;
  right: 0px;
  left: 14%;
}